/* Global CSS variables */
:root {
  --border-radius: 0;
  --pico-spacing: 0.5rem;
  --pico-font-weight: 300;
  --header-height: 7vh;
  --footer-height: 4vh;
  --spacer-width: 7vw;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --content-width: calc(100vw - var(--spacer-width) * 2);
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

small {
  color: var(--muted-color);
}

/* Layout CSS Grid */
.layout {
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-areas:
    "left-spacer header right-spacer"
    "left-spacer content right-spacer"
    "left-spacer footer right-space";
}

.header {
  grid-template: "header";
  height: var(--header-height);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  border-bottom: 2px solid var(--pico-primary);
}

.header > nav {
  height: 100%;
}

.left-spacer {
  grid-template: "left-spacer";
  height: 100vh;
  width: var(--spacer-width);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.content {
  grid-template: "content";
  height: var(--content-height);
  width: var(--content-width);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  overflow: scroll;
}

.right-spacer {
  grid-template: "right-spacer";
  height: 100vh;
  width: var(--spacer-width);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.footer {
  height: var(--footer-height);
  grid-template: "footer";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
