.leaderboard-container {
  display: flex;
  flex-direction: column;
  --filters-container-height: 10vh;
  --season-select-text-container-width: 15vw;
}

.filters {
  display: flex;
  flex-direction: row;

  gap: 50px;
  padding-top: 20px;
  height: var(--filters-container-height);
  justify-content: center;
  align-items: center;
}

.filters-item > select {
  border-radius: 5rem;
}

.season-select-container {
  width: var(--season-select-text-container-width);
}

.filters-item {
  width: calc(
    (var(--content-width) - var(--season-select-text-container-width)) / 2
  );
}

.filters > input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  /* Necessary to not auto-stretch out the search input */
  width: auto;
}

.leaderboard {
  height: calc(var(--content-height) - var(--filters-container-height));
  overflow: auto;
  max-height: fit-content;
  white-space: nowrap;
}

thead {
  position: sticky;
  top: 0;
  background: var(--pico-table-row-stripped-background-color);
}
