.leaderboard-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}

.leaderboard {
  height: 90vh;
  overflow: auto;
  max-height: fit-content;
  white-space: nowrap;
  padding-left: 20px;
}

thead {
  position: sticky;
  top: 0;
  background: var(--pico-table-row-stripped-background-color);
}

@media screen and (max-width: 768px) {
  .leaderboard-container {
    grid-template-columns: 1fr;
  }
}
