.results-container {
  display: flex;
  flex-direction: column;

  height: var(--content-height);
  width: var(--content-width);
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.results-scroller {
  display: flex;
  flex-direction: column;

  overflow: auto;
  max-height: fit-content;
  width: var(--content-width);
}

.results-row {
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid var(--pico-muted-border-color);
  margin-bottom: 10px;
  padding: 10px;
}

.results-row-tournament {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-row-tournament-name {
  font-size: 2vh;
  font-weight: 400;
}

.results-row-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-row-ids {
  display: flex;
  flex-direction: column;
}
